@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  display: none;
}


/* UNDERLINE ANIMATION ON NAVBAR TEXT */
.main-navigation {
  position: relative;
  overflow: hidden;
}

.main-navigation::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: transform 375ms;
}

.main-navigation:hover::after {
  transform: translateX(0%);
}


/* UNDERLINE ANIMATION ON NAVBAR CONTAINER */
.main-navigation-container {  
  position: relative;
  overflow: hidden;
}

.main-navigation-container::after{
  content: "";
  height: 2px;
  width: 100%;
  background-color: red;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 500ms;
}

.main-navigation-container:hover::after {
  opacity: 1;
  transition: opacity 250ms;
}

/* NAVBAR HOVER REVEAL */
/* .reveal { */
/*   transition: height 500ms; */
/* } */
/**/
/* nav:hover > .reveal{ */
/*   height: 30rem; */
/* } */

